.link {
  margin: 10px;

  .card {
    width: 240px;
    height: 340px;
    border-radius: 5px;

    .avatarBox {
      background-image: url("../../../../assets/Image/small-card-fon.png");
      background-size: cover;
      border-radius: 5px 5px 0 0;
      width: 240px;
      height: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      .avatar {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);;
        border: 2px solid white;
      }
    }

    .cardMeta {
      text-align: center;
    }

    .noImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 240px;
      height: 240px;
      background-color: darkgray;
      font-size: 16px;
      font-weight: 500;
    }
  }
}


