$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

%innerCard {
  background-color: ghostwhite;
  box-shadow: $shadow;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

@mixin myFont($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

.card {
  margin: 10px;
  box-shadow: $shadow;
  position: relative;
  width: 768px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;

  .headerFon {
    position: absolute;
    background-image: url("../../../assets/Image/big-card-fon.png");
    border-radius: 10px 10px 0 0;
    height: 250px;
    width: 100%;
  }

  .linkedIn {
    z-index: 1000;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
    color: black;
  }

  .cardHeader {
    padding: 40px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    .avatar {
      border: 2px solid white;
      margin-right: 20px;
      box-shadow: $shadow;
    }
  }

  .cardBody {
    padding: 10px;

    .cardSection {
      background-color: ghostwhite;
      box-shadow: $shadow;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 15px;

      .cardSectionTitle {
        @include myFont(20px, 500, black);
      }

      .title {
        @include myFont(16px, 600, black);
      }
    }

    //Profile
    .profile {
      min-width: 280px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-shadow: $shadow;

      .profileName {
        margin-bottom: 0;
      }

      .profileHeadline {
        margin-bottom: 0;
      }

      .profileLocation {
        font-size: 16px;
        font-weight: 500;
      }

      @media (max-width: 600px) {
        .profileHeadline {
          text-align: center;
        }
      }

      @media (max-width: 400px) {
        .profileHeadline {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    //Positions
    .positionTitle {
      @include myFont(15px, 600, black);
    }

    .positionDate,
    .positionLocation {
      color: dimgray;
    }

    //Educations
    .educationDegree {
      @include myFont(14px, 600, black);
    }

    .educationDate {
      color: dimgray;
    }

    //Skills
    .skill {
      display: flex;
      align-items: center;
    }

    .skillLevel {
      @include myFont(14px, 500, dimgray);
    }

    //Languages
    .languageProficiency {
      @include myFont(14px, 400, dimgray);
    }
  }
}
